# Site settings
title: DevOps Notes
description: Learning Kubernetes, one concept at a time
baseurl: ""
url: "https://xxntti3n.github.io"

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - kramdown-parser-gfm

# Exclude from processing
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .github/

# Collections
collections:
  posts:
    output: true
    permalink: /blog/:year/:month/:day/:title/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "article"
  - scope:
      path: ""
    values:
      layout: "article"
